<!DOCTYPE HTML>
<html>
<head>
    <title>PythonAPIBoilerplate Test Client</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
    namespace = '/tasks';
    var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);
     $(document).ready(function() {
            socket.on('connect', function() {
                console.log('connected')
            });
            socket.on('task_event', function(msg) {
              document.getElementById("progress-bar").style.width = msg.percent
              console.log(msg.percent)
            });
      });

     function postTask() {
         var jake = document.getElementById("parameters");
         var parameters = jake.value;
         var http = new XMLHttpRequest();
         var url = location.protocol + '//' + document.domain + ':' + "8080" + "/tasks";
         http.open("POST", url, true)
         http.setRequestHeader("Content-type", "application/json")
         http.send(parameters)
         http.onreadystatechange = function() {
          if (http.readyState == XMLHttpRequest.DONE) {
            if (http.status == 201) {
              document.getElementById("progress-bar").style.width = "5%"
              var resp = JSON.parse(http.responseText);
              console.log(resp._id)
              socket.emit('room_subscribe_event', {room: resp._id});
            } else {
              alert('Request Failed with Status: ' + http.status)
           }
          }
        }
     }
    </script>
</head>

<body>
  <div style="margin: auto; width: 97%">
    <div class="jumbotron" style="text-align: center">
      <h1> API Demo </h1>
    </div>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Task Parameters" id="parameters">
      <span class="input-group-btn">
        <button id="execute" class="btn btn-default" type="submit" onclick="postTask()">Execute</button>
      </span>
    </div>
  <br>
  <h2> Task Progress </h2>
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"i id="progress-bar"> 
  </div>
</div> 
</body>
